body {
	display: flex;
	min-width: 100vh;
	flex-direction: column;
}

.mission {
/*	padding: 17px;*/
}

.overlay {
	background-color: rgba(0,0,0,0.55);
	padding: 47px; 
	
}

.effect {
	background: url(../img/brain-hands.jpg) no-repeat center center;
	background-origin: border-box;
/*	filter: blur(2px);*/
}

.overlay, .effect {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.container .row {
	margin-top: 34px;
}

.mission h1 {
	font-size: 40px;
	font-weight: lighter;
	margin-bottom: 10px;
	color: #d6d4d4;
} 

.mission p {
	color: #d6d4d4;
	font-family: 'Roboto', sans-serif;
	line-height: 21px;
	word-spacing: 2px;
	letter-spacing: 2px;
	margin-bottom: 21px;
	
}

#myCarousel .carousel-item img {
	width: 100%;
}

.img-fluid {
	
	max-width: 100%;
	height: auto;
}

.site-content {
	flex: 1;
	background-color: #fff;
}
.call-to-action {
	text-align: center;
}

.call-to-action .btn {
	color: #fff;
	padding: 27px;
	margin-top: 21px;
	border-radius: 0;
}
 
.call-to-action .btn span {
	letter-spacing: 3px;
}

.call-to-action .btn {
	box-shadow: 5px 5px 20px rgba(77, 6, 44, 0.51); 
}
